

.result{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 200px;
    font-family: "BogleWeb-Regular";
    
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.aa{
/* text-align: left; */

padding-left: 30px;
font: condensed 120% sans-serif;
font-size: 25px; 
line-height: 1;
color: #222222;
vertical-align: baseline;
}

strong{
    color: black;
}


a{
    font-size: 20px;
    line-height: 38px;
    margin: 0 0 20px;
    color: rgba(34, 34, 34, 0.5);
    box-sizing: border-box;
    font-family: "BogleWeb-Regular";
}

li{
    margin-left: 15px;
}

.contProd{
    height: 720px;
}

carousel-inner{
    transition: none;
}

.colum{
    
   border-radius: 2px;
   height: 600px;
   width: 100%;
   /* position: relative; */
   float: left;
   /* padding: 1em; */
   background: #f0f0f0;
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
   box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    
}

.descrCol{
    height:235px;
    border-radius: 0px 0px 2px 2px;
    background: #fff; 
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
     
}

.desc{
    padding-top: 20px;
    padding-left:  30px;
}

.precio{
    padding-top: 10px;
    padding-left:  30px;
    color : #9c9c9c;
    margin-bottom: -10px;
}

.striket{
    margin-top: 0em;
    padding-left:  30px;
    color : #8c8c8c;
}

.barProgreso{
    
  margin-top: 20px;
  height: 50px;
  border-radius: 2px;
  background: #f0f0f0;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;    
}

.descuento{
    background-color: red;
    color: #fff;
    border-radius: 25px;
    font-size: 15px;
}

button{
    width: 150px;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
}

.tipoRetiro{
    text-align: center;
    width: 80px;
    height: 38px;
    background-color: #1882da;
    border-radius: 25px;
}

.textDespacho{
    color: #fff;
    font-size: 12px;
}